Q1.Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
my_string = "Hello,World!"
my_list = [1,2,3,4,5,6]
my_float = 1.4
my_tuple = (1,2,3,4,5,6)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [4]:
var1 = '' 
var2 = '[ DS , ML , Python]' 
var3 = [ 'DS' , 'ML' , 'Python' ] 
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

 (i) '/' : Division operator , It is used for Division in python.It returns the quotient of the division operation.

In [1]:
result=10/3
print(result)

3.3333333333333335

 (ii) '%' :Moduler Operator, it returns the remainder of the division operation.

In [4]:
remainder=10%3
print(remainder)

1

(iii) '//':Floor Division Operator,It performs floor division,which means it returns the quotient of the division operation rounded down to the nearest integer.

In [5]:
result=10//3
print(result)

3

(iv)'**':Exponentiation Operator,it is used for exponentiation.It raises the left operand to the power of the right operand.

In [6]:
result=2**3
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
my_list=[1, 'hello',3.14,True,[1,2,3],{"key":'value'},(4,5),None,False,'world']

for element in my_list:
    print(f"Element:{element},data Type: {type(element)}")

Element:1,data Type: <class 'int'>
Element:hello,data Type: <class 'str'>
Element:3.14,data Type: <class 'float'>
Element:True,data Type: <class 'bool'>
Element:[1, 2, 3],data Type: <class 'list'>
Element:{'key': 'value'},data Type: <class 'dict'>
Element:(4, 5),data Type: <class 'tuple'>
Element:None,data Type: <class 'NoneType'>
Element:False,data Type: <class 'bool'>
Element:world,data Type: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [10]:
A=int(input("enter number=A:"))
B=int(input("enter number=B:"))

count=0
while A%B==0:
    A=A//B
    count+=1
    
if count > 0:
    print(f"{A} is purely divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}")

enter number=A: 6
enter number=B: 2

3 is purely divisible by 2 and can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [13]:
my_list=[i for i in range(1,26)]
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable Data Types:
    
Immutable data types are those whose values cannot be changed after they are created. Examples of immutable data types in python include integers,floats,strings,tuples,and frozensets.When you modify an immutable object, a new object is created with the modified value.

In [15]:
x=10
print("Original value of x:",x)
x=20
print("Modified value of x:",x)

Original value of x: 10
Modified value of x: 20

Mutable Data Types:
    
Mutable data types are those whose values can be changed after they are created.Examples of mutable data types in python include lists, dictionaries,sets,and bytr arrays.When you modify a mutable object,the changes are reflected in the original object itself.

In [17]:
my_list = [1,2,3]
print("Original list:", my_list)

my_list.append(4)
print("Modified list:",my_list)

Original list: [1, 2, 3]
Modified list: [1, 2, 3, 4]